@import url("https://fonts.googleapis.com/css2?family=Kite+One&family=Titan+One&display=swap");

header {
  border: 1px solid #a56642;
  background-color: #c29378;
  font-family: "Titan One", cursive;
  font-size: 35px;
  border-radius: 15px;
}

main {
  border: 1px solid #a56642;
  background-color: #e2bd92;
  border-radius: 15px;
}

footer {
  border: 1px solid #a56642;
  background-color: #c29378;
  border-radius: 15px;
}

.boxMole {
  width: 100px;
  height: 150px;
  border: 1px solid rgb(79, 178, 218);
  background-color: skyblue;
  border-radius: 15px;
  border: 1px solid #a56642;
}

#pointCount,
#startGame,
#gameTimer,
#highScore {
  width: 50px;
  height: 60px;
  border: 1px solid #bd976c;
  background-color: #e4d1ba;
  font-family: "Kite One", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

#pointCount,
#gameTimer,
#highScore {
  text-align: center;
  padding-top: 14px;
  border-radius: 15px;
  border: 1px solid #a56642;
}

#startGame {
  font-weight: bold;
  font-size: 20px;
  color: #006d00;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #a56642;
}

.mole {
  background: url("Photos/diglett2.png") bottom center no-repeat;
  background-size: 35%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.boxMole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.boxMole:after {
  display: block;
  background: url("Photos/ground2.png") bottom center no-repeat;
  background-size: 55%; /*removed contained property*/
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}

.boxMole.popped .mole {
  top: 0;
}
