header {
  border: 1px solid blue;
  background-color: aqua;
}

main {
  border: 1px solid red;
  background-color: rgb(128, 112, 91);
}

footer {
  background-color: darkkhaki;
}

.boxMole {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  background-color: coral;
}

#pointCount {
  width: 50px;
  height: 50px;
  border: 1px solid orange;
  background-color: darkcyan;
}

#startGame {
  width: 50px;
  height: 50px;
  border: 1px solid purple;
  background-color: darkgray;
}

#gameTimer {
  width: 50px;
  height: 50px;
  border: 1px solid teal;
  background-color: fuchsia;
}

.mole {
  background: url("/Photos/diglett.jpg") bottom center no-repeat;
  background-size: 35%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.boxMole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.boxMole:after {
  display: block;
  background: url("/Photos/ground.jpg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}

.boxMole.popped .mole {
  top: 0;
}
