body {
  border-radius: 100px;
}

header {
  border: 1px solid black;
  background-color: #c29378;
}

main {
  border: 1px solid black;
  background-color: #e2bd92;
}

footer {
  border: 1px solid black;
  background-color: #c29378;
}

.boxMole {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(104, 173, 230);
  background-color: skyblue;
}

#pointCount {
  width: 50px;
  height: 50px;
  border: 1px solid #ac9e8f;
  background-color: #e4d1ba;
}

#startGame {
  width: 50px;
  height: 50px;
  border: 1px solid #ac9e8f;
  background-color: #e4d1ba;
}

#gameTimer {
  width: 50px;
  height: 50px;
  border: 1px solid #ac9e8f;
  background-color: #e4d1ba;
}

<<<<<<< HEAD
<<<<<<< HEAD
.mole {
  background: url("/Photos/diglett.jpg") bottom center no-repeat;
  background-size: 35%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.boxMole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.boxMole:after {
  display: block;
  background: url("/Photos/ground.jpg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}

.boxMole.popped .mole {
  top: 0;
}
=======
.hole1,
.hole2,
.hole3,
.hole4,
.hole5,
.hole6,
.hole7,
.hole8,
.hole9 {
  background-image: url("Photos/diglett.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  justify-content: center;
}

=======
>>>>>>> 6421054b8780e72630505fe066f3fefc4f10399e
/*.ground {
  background-image: url("Photos/diglett.png");
  z-index: 1;
  background-size: contain;
}*/

.mole {
  height: 100px;
  background-image: url("Photos/diglett.png");
  background-size: contain;
<<<<<<< HEAD
}*/
>>>>>>> 20f4e3de4f6f63c3f79e71c9ea78cff2f1f63581
=======
  background-position: 50%;
  background-repeat: no-repeat;
  justify-content: center;
  /*display: none;*/
}
>>>>>>> 6421054b8780e72630505fe066f3fefc4f10399e
